 <link rel="canonical" href="https://instagram.com/p/4PjG-1HnLt/" />
    <meta content="See this Instagram photo by @zhendlin • 3 likes" name="description" />
    <meta property="og:site_name" content="Instagram" />
    <meta property="og:title" content="Instagram photo by Zack Hendlin • Jun 22, 2015 at 7:20pm UTC" />
    <meta property="og:image" content="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11374642_670428509755353_1334729211_n.jpg" />
    <meta property="og:description" content="See this Instagram photo by @zhendlin • 3 likes" />
    <meta property="fb:app_id" content="124024574287414" />
    <meta property="og:url" content="https://instagram.com/p/4PjG-1HnLt/" />
    <meta property="instapp:owner_user_id" content="1206036947" />
    <meta property="al:ios:app_name" content="Instagram" />
    <meta property="al:ios:app_store_id" content="389801252" />
    <meta property="al:ios:url" content="instagram://media?id=1013182852589581037" />
    <meta property="al:android:app_name" content="Instagram" />
    <meta property="al:android:package" content="com.instagram.android" />
    <meta property="al:android:url" content="https://instagram.com/p/4PjG-1HnLt/" />

    <meta name="medium" content="image" />
    <meta property="og:type" content="instapp:photo" />
